* {
    box-sizing: border-box;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#Logout{
  color: white;
}
#pr{
  color: white;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #none;
}
.tbody{
  cursor: pointer;
}
body {
    margin: 0;
}
 li:hover{ background-color: #99ff99; }

.column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}

.left {
  width: 40%;
}

.right {
  width: 60%;
  margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */

.month {

    padding: 70px 25px;
    width: 100%;
    background: #99ff99;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* Previous button inside month header */

.month .janprev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .jannext {
    float: right;
    padding-top: 10px;
}
.month .febprev {
    float: left;
    padding-top: 10px;
}
.month .marchprev {
    float: left;
    padding-top: 10px;
}
.month .marchnext {
    float: right;
    padding-top: 10px;
}
/* Next button */
.month .febnext {
    float: right;
    padding-top: 10px;
}
.month .aprilprev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .aprilnext {
    float: right;
    padding-top: 10px;
}
.month .mayprev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .maynext {
    float: right;
    padding-top: 10px;
    display: none;
}


/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
.row{
  margin-top: 30px;
}
.records{
  margin-right:  50px;
}
.todayappointments{
  margin-right:  50px;
}
.jannext:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.janprev:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.febnext:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.febprev:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.marchprev:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}

.closeBtn:hover,.closeBtn:focus{

  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.marchnext:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.aprilprev:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.aprilnext:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.mayprev:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
.maynext:hover,.closeBtn:focus{
  color: :#000;
  text-decoration: none;
  cursor: pointer;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#simpleModal{
  overflow: auto;
  position: absolute;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.closeBtn{
  float: right;
}
.deletebtn{
  float: right;
}
