table tr:not(:first-child){
    cursor: pointer;transition: all .25s ease-in-out;
}
.imgoutput{
  height: 100px;
width: 100px;
}

#mname{
  width: 116px;
}
#address{
  width: 370px;
}
.selected{ background-color: #ace; }
.records tr:not(:first-child):hover{ background-color: #ffffff; }


#overriding{
  display: none;
  cursor: pointer;transition: all .25s ease-in-out;
}


#imageupload{
  width: 105px;
  height: 37px;
  text-align: left;
  background-color: #8b9dc3;
  align-items: center;
  font-family: arial, sans-serif;
  padding: 8px;
  border: 1px solid #dddddd;
}
.chosenfile{
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -2;
}
#imgbtn{
  align-items: center;
  font-family: arial, sans-serif;
  padding: 8px;
  border: 1px solid #dddddd;
}
#editimage{
  align-items: center;
  font-family: arial, sans-serif;
  padding: 8px;
  border: 1px solid #dddddd;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
#addeds {
  padding-top: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
#deleteds {
  padding-top: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
#editeds {
  padding-top: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
#existed {
  padding-top: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}
